.task {
    align-items: flex-start;
    background-color: var(--gray-500);
    border-radius: 8px;
    border: 1px solid var(--gray-400);
    display: flex;
    padding: 1rem;
    width: 100%;
    position: relative;
}

.task + .task {
    margin-top: 2rem;
}

.task label {
    color: var(--gray-100);
    display: flex;
    font-weight: 400;
    font-size: 0.875rem;
    padding-right: 3.75rem;
    width: 100%;
}

.task .concluded {
    color: var(--gray-300);
    text-decoration: line-through;
}

.task input[type='checkbox'] {
    margin-right: 0.75rem;
    margin-top: 0.3rem;
    background-color: var(--gray-500);
    display: none;
}

.task input[type='checkbox'] + label:before {
    content: '';
    width: 1rem;
    height: .95rem;
    margin-right: 0.75rem;
    margin-top: 0.2rem;
    background-color: var(--gray-500);
    border: 2px solid var(--blue);
    border-radius: 10px;
    display: inline-block;
}

.task input[type='checkbox']:checked + label:before {
    background-color: var(--purple-dark);
    border: 2px solid var(--purple-dark);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='%23f2f2f2' viewBox='0 0 256 256'%3E%3Cpath d='M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z'%3E%3C/path%3E%3C/svg%3E");
    background-position: center;

}

.task .trashContainer {
    margin-top: 0.2rem;
}

.task .trashContainer:hover {
    background-color: var(--gray-400);
    color: var(--danger);
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
}
